$violin-neck: #1F2025;
$yellowish: #EBF183;

.ws-violin-img {
    width: 100%
}

.ws-active-string-line {
    position: absolute;
    border-bottom: 3px solid $yellowish;
}

.ws-active-string-dot {
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: $yellowish    ;
}

.ws {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ws-title {
    position: absolute;
    top: 32px;
    left: 32px;
    color: $violin-neck;
    h1 {
        font-size: 64px;
    }
}
